res_gaussion/
simple-knn/
wandb/
*.pyc
res_edited/
miniconda/
florence2-sam/
region-learn/
cubercnn/
GaussianEditorEnviroment/
GaussianEditorEnv/
GaussianEditor/
depth-pro/
workspace/
DPT/sunglasses/
DPT/hat/
DPT/dpt_images/
reference_multi_views/
molmo-env/
personalization/box_learn/results/
wwj_data/
florence2-env/
/venv
/.idea
/tmp
**.ply
checkpoints/
**/checkpoints/
res_gaussion/
res_gaussion/
simple-knn/
wandb/
*.pyc
res_edited/
miniconda/
florence2-sam/
region-learn/
cubercnn/
GaussianEditorEnviroment/
GaussianEditorEnv/
GaussianEditor/
depth-pro/
workspace/
DPT/sunglasses/
DPT/hat/
DPT/dpt_images/
reference_multi_views/
molmo-env/
personalization/box_learn/results/
wwj_data/
florence2-env/
# 忽略所有图片文件
*.jpg
*.jpeg
*.png
*.gif
*.bmp
/simple-knn